.fireRepair__img{
    background-image: url(../../../../images/fire/fireRepair.jpg);
    background-position: center 80%;
}
@media only screen and(max-width: 930px) {
    .fireRepair__img{
        background-position: center 30%;
    }
}