.fireTwoImg__img-one{
    background-image: url(../../../../images/fire/fireServicesOne.jpg);
    width: 100%;
    height: 20vw;
    background-size: cover;
}
.fireTwoImg__img-two{
    background-image: url(../../../../images/fire/fireServicesTwo.jpg);
    width: 100%;
    height: 20vw;
    background-size: cover;
}