.fireCraft_img{
    background-image: url(../../../../images/fire/fireCraft.jpg);  
    background-position: 0% 100%;
}

.fireCraft_section{
    padding: $thm-spacing-desktop-3 0;
}

.fireCraft_gridBox{
    padding: $thm-spacing-desktop-3 0;
}
// @media only screen and(max-width: 800px) {
//     .fireCraft_img{
//         background-position: center 40%;
//     }
// }

@media only screen and(max-width: 600px) {
    .fireCraft_section{
        padding: $thm-spacing-desktop-2 0;
    }
    .fireCraft_gridBox{
        padding: $thm-spacing-desktop-2 0;
    }
}