.fireCraft_img{
    background-image: url(../../../../images/fire/fireCraft.jpg);
    height: 100%;
}

.fireCraft_section{
    padding: $thm-spacing-desktop-3 0;
}

.fireCraft_gridBox{
    padding: $thm-spacing-desktop-3 0;
}