.damageRestore_img{
    background-image: url(../../../../images/water/waterDamage.jpg);
}

.damageRestore_section{
    padding: $thm-spacing-desktop-3 0;
}

.damageRestore_gridBox{
    padding: $thm-spacing-desktop-3 0;
}