.waterDamage__img1{
    background-image: url(../../../../images/homeBanner.jpg);
}
.waterDamage__img2{
    background-image: url(../../../../images/homeBanner.jpg);
}
.waterDamage__section{
    padding: $thm-spacing-desktop-2 0;
}