.restoreServices_img{
    background-image: url(../../../../images/water/waterRest.jpg);
}

.restoreServices__section{
    background-color: $thm-charcoal;
    
    p{
        font-size: smaller;
        line-height:2;
    }
}

.restoreServices__dot{
    background-color: $thm-light-red;
}