.waterBanner__section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../../images/water/waterBanner.jpg);
  background-position: 10%;
  background-size: cover;
}

@media only screen and(max-width: 600px) {
  .waterBanner__section {
    background-position: 55% center;
  }
}
