.waterBanner__section{
    background-image: url(../../../../images/water/waterBanner.jpg);
    background-position: 10%;
}

@media only screen and(max-width: 600px) {
    .waterBanner__section{
        background-position: 55% center;
    }
}