//red buttons
.red-to-grey__button{
    background-color: $thm-light-red;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
    font-size: $thm-font-med;
    border: none;
    color: $thm-white;
    font-weight: bold;

    &:hover{
        background-color: $thm-light-grey;
        color: $thm-charcoal;
    }
   
}


//blue buttons
.blue-to-grey__button {
    background-color: $thm-light-blue;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
    font-size: $thm-font-med;
    border: none;
    color: $thm-white;
    font-weight: bold;

    &:hover{
        background-color: $thm-light-grey;
        color: $thm-charcoal;
    }
    
}


@media only screen and(max-width: 600px) {
    .red-to-grey {
        font-size: $thm-font-med;
    }
    .blue-to-grey__button {
        font-size: $thm-font-med;
    }
}