*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $thm-font-primary;
    background-color: $thm-grey;
    color: $thm-off-white;
}

// main {
//     min-height: calc(100vh - 120px);
//     position: relative;
// }

h1, h2, h3, h4 {
    font-family: $thm-font-header;
    color: $thm-off-white;
    font-weight: $thm-fw-3;
  }

  p{
    font-weight: $thm-fw-1;
    font-weight: thin;
    line-height: 1.75;
  }