.imageLeft__div-cont{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 0;
    padding: $thm-spacing-desktop-2 0;
    @include bp($thm-bp-medlrg){
        grid-template-columns: auto auto;
        grid-gap: $thm-spacing-desktop-3;
        padding: $thm-spacing-desktop-3 0;
    }
    .buttonPadding{
        padding: 0;
    }

}

.imageLeft__div-colorBox{
    background-color: $thm-light-blue;
    width: 8vw;
    height: 3px;
}
.imageLeft__img{
    height: 45vw;
    width: 100%;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    @include bp($thm-bp-medlrg){
        height: 100%;
        width: 30vw;
        margin-top: 3em;
    }
}

.imageLeft__div-textCont{
    padding: 0;
    @include bp($thm-bp-medlrg){
        padding: $thm-spacing-desktop-3 0;
    }
}
@media only screen and(max-width: 600px) {
    .imageLeft__div-colorBox{
        width: 20vw;
    }
}