.imageRight__div-cont{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 0;
    padding: $thm-spacing-desktop-2 0;
    @include bp($thm-bp-sml){
        padding: $thm-spacing-desktop-3 0;
        grid-template-columns: auto auto;
        grid-gap: $thm-spacing-desktop-2;
    }
}

.imageRight__div-colorBox{
    background-color: $thm-light-blue;
    width: 8vw;
    height: 3px;
}
.imageRight__img{
    background-size: cover;
    height: 45vw;
    width: 100%;
    @include bp($thm-bp-sml){
        height: 100%;
        width: 30vw;    
    }
}

.imageRight__div-textCont{
    padding: 0;
    @include bp($thm-bp-sml){
        padding: $thm-spacing-desktop-2 0;
    }
}