.homeBanner__section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(../../../../images/home/banner_350.webp);
  background-size: cover;
}
.bigger.blue-to-grey__button {
  font-size: $thm-font-lrg;
  transition: all 200ms ease;
  border-radius: 4px;
}

@media only screen and(min-width: 600px) {
  .homeBanner__section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../../../images/home/banner_650.webp);
    background-size: cover;
  }
}
@media only screen and (min-width: 1000px) {
  .homeBanner__section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../../../images/home/banner_1000.webp);
    background-size: cover;
  }
}
@media only screen and (min-width: 1200px) {
  .homeBanner__section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../../../../images/home/banner_1400.webp);
    background-size: cover;
  }
}
