.contactUs_img{
    background-image: url(../../../../images/contact/contactUs.jpg);
    background-position: 90% 70%;

}

.contactUs__section{
    padding: $thm-spacing-desktop-3 0;
    background-color: $thm-charcoal;
}

.contactUs_gridBox{
    padding: $thm-spacing-desktop-3 0;
}

.contactUs__div-text{
    padding: $thm-spacing-desktop-2 0;
} 