.contactUs_img{
<<<<<<< HEAD
    background-image: url(../../../../images/contact/contactUs.jpg);
    background-position: 90% 70%;
=======
    background-image: url(../../../../images/contact/conactContactUs.jpg);
>>>>>>> 55462d0f07a2b325b1307b156193ec6647db6a65

}

.contactUs__section{
    padding: $thm-spacing-desktop-3 0;
    background-color: $thm-charcoal;
}

.contactUs_gridBox{
    padding: $thm-spacing-desktop-3 0;
}

.contactUs__div-text{
    padding: $thm-spacing-desktop-2 0;
} 