.contactUs_img{
    background-image: url(../../../../images/contact/conactContactUs.jpg);

}

.contactUs__section{
    padding: $thm-spacing-desktop-3 0;
    background-color: $thm-charcoal;
}

.contactUs_gridBox{
    padding: $thm-spacing-desktop-3 0;
}