.formMap__section{
    display: grid;
    grid-template-columns: auto;
    @include bp($thm-bp-sml){
    grid-template-columns: auto auto;
    width: 80%;
    margin: 0 auto;
    padding: $thm-spacing-desktop-3 0;
    }
    p{
        line-height:1;
        @include bp($thm-bp-sml){
        line-height: .5;
        }
    }
}
.formMap__p-email{
        line-height: 1!important;
        padding-bottom: $thm-spacing-desktop-2;
        @include bp($thm-bp-sml){
            padding: 0;
            }
}

.formMap__map{
    width: 100%;
    height: 25vw;
}

.wpcf7-text{
    margin: 15px 0px 0px;
    width: 100%;
    border: none;
    padding: 5px;
}

.wpcf7-textarea{
    margin: 15px 0px 0px;
    height: 326px;
    width: 100%;
    border: none;
    padding: 5px;
    resize: none;
}

@media only screen and(max-width: 600px) {
    .formMap__section{
        padding: $thm-spacing-desktop-2 0;
        }
}