.minimizeMold__img1{
    background-image: url(../../../../images/mold/moldInspection.jpg);
}
.minimizeMold__img2{
    background-image: url(../../../../images/mold/moldActFast.jpg);
}
.minimizeMold__section{
    padding: $thm-spacing-desktop-2 0;
}