.moldServices_img{
    background-image: url(../../../../images/mold/moldRemed.jpg);
}

.moldServices__section{
    background-color: $thm-charcoal;
    
    p{
        font-size: smaller;
        line-height:2;
    }
    
    ul{
        list-style-position: outside;
        padding-left: 0;
    }
    li{
        margin-left: 20px;
        margin-top:-20px;
    }
}

.moldServices__dot{
    background-color: $thm-light-blue;
}