.moldServices_img{
    background-image: url(../../../../images/mold/moldRemed.jpg);
}

.moldServices__section{
    background-color: $thm-charcoal;
    
    p{
        font-size: smaller;
        line-height:2;
    }
}

.moldServices__dot{
    background-color: $thm-light-blue;
}