.moldBanner__section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../../images/mold/moldBanner.jpg);
  background-position: 100% 0;
  background-size: cover;
}
