.moldEffects_img{
    background-image: url(../../../../images/mold/moldEffects.jpg);
    height: 100%;
}

.moldEffects_section{
    padding: $thm-spacing-desktop-3 0;
}

.moldEffects_gridBox{
    padding: $thm-spacing-desktop-3 0;
}