.disasterServices__img-one{
    background-image: url(../../../../images/natural/natServicesOne.jpg);
}
.disasterServices__img-two{
    background-image: url(../../../../images/natural/natServicesTwo.jpg);
    background-position: 91% 72%;
}


.disasterServices__section{
    
    ul{
        list-style-position: outside;
        padding-left: 0;
    }
    li{
        margin-left: 20px;
        margin-top:-20px;}}
.disasterServices__div-space {
    padding-top: 9em;
}

@media only screen and(max-width: 700px) {
    .disasterServices__div-space {
        padding-top: 0em;
    }
}