.disasterServices__img-one{
    background-image: url(../../../../images/natural/natServicesOne.jpg);
}
.disasterServices__img-two{
    background-image: url(../../../../images/natural/natServicesTwo.jpg);
    background-position: 91% 72%;
}