.experiencedRestoration_img{
    background-image: url(../../../../images/homeBanner.jpg);
}

.experiencedRestoration_section{
    padding: $thm-spacing-desktop-3 0;
}

.experiencedRestoration_gridBox{
    padding: $thm-spacing-desktop-3 0;
}