.experiencedRestoration_img{
    background-image: url(../../../../images/natural/natRestor.jpg);
}

.experiencedRestoration_gridBox, .experiencedRestoration_section{
    padding: $thm-spacing-desktop-3 0;
}

@media only screen and(max-width: 600px) {
    .experiencedRestoration_gridBox, .experiencedRestoration_section{
        padding: $thm-spacing-desktop-2 0;
    }
}