.contact-us-button {
    @include flex(column, nowrap, center, flex-end);
    z-index: $thm-z-alert;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    //animation: pulse 20s infinite;
    @include bp($thm-bp-med) {
        right: 1rem;
    }
}

.contact-us-button__icon {
    font-size: $thm-font-lrg;
    height: $thm-font-lrg;
    width: $thm-font-lrg;
    animation: pulse 18s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.70) rotate(10deg);
	}

	5% {
		transform: scale(1) rotate(-10deg);
	}

	10% {
        transform: scale(0.70) rotate(10deg);
    }

	15% {
        transform: scale(1) rotate(-10deg);
	}

	20% {
        transform: scale(0.70) rotate(10deg);
    }
    25% {
		transform: scale(1) rotate(-10deg);
	}

	30% {
        transform: scale(.70) rotate(10deg);
	}

	35% {
		transform: scale(1) rotate(0deg);
    }
	45% {
		transform: scale(1);
	}

	50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

// .call-button {
//     // background-color: #d32121;
//     background-color: $thm-light-red;
//     border-radius: 50px;
//     &__icon {
//         color: $thm-off-white;
//     }
// }

.box-shadow {
    box-shadow: $thm-bs-2;
}

.contact-us-button-phone{
    display: block;
    color: $thm-off-white;
    background-color: $thm-light-red;
    padding: .75em;
    border-radius: 50px;
    @include bp($thm-bp-sml){
        display:none
    }
}


@keyframes swing-open {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes swing-closed {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}